<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Automated Marketing - Clientes</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/clientes.css') }}"
    />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo">Automated</div>
      <nav class="nav">
        <a href="{{ url_for('index') }}">Resumen</a>
        <a href="{{ url_for('campania_render') }}">Campañas</a>
        <a href="{{ url_for('cliente_render') }}" class="active">Clientes</a>
      </nav>
    </div>

    <div class="content">
      <h1>Clientes Registrados</h1>
      <a href="{{ url_for('nuevo_cliente_render') }}">
        <button class="add-client-btn">Añadir Nuevo Cliente</button>
      </a>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo Electrónico</th>
            <th>Teléfono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
          <tr>
            <td>{{ cliente['id'] }}</td>
            <td>{{ cliente['nombre'] }}</td>
            <td>{{ cliente['apellido'] }}</td>
            <td>{{ cliente['correo'] }}</td>
            <td>{{ cliente['telefono'] }}</td>
            <td>
              <form
                action="{{ url_for('clientes.eliminar_cliente', cliente_id=cliente['id']) }}"
                method="post"
              > <!-- Habría que cambiar el action -->
                <button class="edit-btn">Editar</button> 
              </form>
              <form
                action="{{ url_for('clientes.eliminar_cliente', cliente_id=cliente['id']) }}"
                method="post"
              >
                <button class="delete-btn">Eliminar</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
